// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x14, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Spøkelse"
    IDS_GHOST_PLURAL    "Spøkelser"
    IDS_MENU_STATUS     "Statusvindu"
    IDS_MENU_ACTIVE     "Aktiv"
    IDS_MENU_INACTIVE   "Inaktiv"
    IDS_MENU_NOWINDOWS  "(ingen vinduer oppdaget)"
    IDS_MENU_INFO       "Om…"
    IDS_MENU_QUIT       "Avslutt"
    IDS_UNTITLED        "(uten tittel)"
    IDS_INFO_TITLE      "Om DeGhoster"
    IDS_INFO_DESC       "Nøytraliserer usynlige WebView2/Chromium-spøkelsesvinduer som fanger opp klikkene dine på skrivebordet."
    IDS_INFO_LICENSE    "Lisens: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Hvis du synes prosjektet er nyttig, vurder å støtte det:"
    IDS_INFO_THIRDPARTY "Tredjepartsmerknader / lisens"
    IDS_COL_WINDOW      "Vindu (Program)"
    IDS_HOOK_MISSING    "En nødvendig DeGhoster-komponent mangler, så spøkelsesvinduer kan ikke rettes. Installer DeGhoster på nytt."
END
