// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Fantasma"
    IDS_GHOST_PLURAL    "Fantasmas"
    IDS_MENU_STATUS     "Ventana de estado"
    IDS_MENU_ACTIVE     "Activo"
    IDS_MENU_INACTIVE   "Inactivo"
    IDS_MENU_NOWINDOWS  "(no se detectaron ventanas)"
    IDS_MENU_INFO       "Acerca de…"
    IDS_MENU_QUIT       "Salir"
    IDS_UNTITLED        "(sin título)"
    IDS_INFO_TITLE      "Acerca de DeGhoster"
    IDS_INFO_DESC       "Neutraliza ventanas fantasma invisibles de WebView2/Chromium que interceptan tus clics en el escritorio."
    IDS_INFO_LICENSE    "Licencia: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Si este proyecto te resulta útil, considera apoyarlo:"
    IDS_INFO_THIRDPARTY "Avisos de terceros / licencia"
    IDS_COL_WINDOW      "Ventana (Ejecutable)"
    IDS_HOOK_MISSING    "No se pudo cargar DeGhoster.Hook64.dll. No se pueden corregir las ventanas fantasma de las aplicaciones de 64 bits."
END
