// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Geist"
    IDS_GHOST_PLURAL    "Geister"
    IDS_MENU_STATUS     "Statusfenster"
    IDS_MENU_ACTIVE     "Aktiv"
    IDS_MENU_INACTIVE   "Inaktiv"
    IDS_MENU_NOWINDOWS  "(keine Fenster erkannt)"
    IDS_MENU_INFO       "Info…"
    IDS_MENU_QUIT       "Beenden"
    IDS_UNTITLED        "(ohne Titel)"
    IDS_INFO_TITLE      "Über DeGhoster"
    IDS_INFO_DESC       "Neutralisiert unsichtbare WebView2/Chromium-Geisterfenster, die deine Desktop-Klicks abfangen."
    IDS_INFO_LICENSE    "Lizenz: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Wenn dir dieses Projekt gefällt, unterstütze es gern:"
    IDS_INFO_THIRDPARTY "Drittanbieter-Hinweise / Lizenz"
END
