// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x19, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Призрак"
    IDS_GHOST_PLURAL    "Призраки"
    IDS_MENU_STATUS     "Окно состояния"
    IDS_MENU_ACTIVE     "Активно"
    IDS_MENU_INACTIVE   "Неактивно"
    IDS_MENU_NOWINDOWS  "(окна не обнаружены)"
    IDS_MENU_INFO       "О программе…"
    IDS_MENU_QUIT       "Выход"
    IDS_UNTITLED        "(без названия)"
    IDS_INFO_TITLE      "О программе DeGhoster"
    IDS_INFO_DESC       "Нейтрализует невидимые окна-призраки WebView2/Chromium, перехватывающие клики по рабочему столу."
    IDS_INFO_LICENSE    "Лицензия: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Если проект вам полезен, поддержите его:"
    IDS_INFO_THIRDPARTY "Уведомления третьих сторон / лицензия"
END
