// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x1F, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Hayalet"
    IDS_GHOST_PLURAL    "Hayaletler"
    IDS_MENU_STATUS     "Durum Penceresi"
    IDS_MENU_ACTIVE     "Etkin"
    IDS_MENU_INACTIVE   "Devre dışı"
    IDS_MENU_NOWINDOWS  "(pencere algılanmadı)"
    IDS_MENU_INFO       "Hakkında…"
    IDS_MENU_QUIT       "Çıkış"
    IDS_UNTITLED        "(başlıksız)"
    IDS_INFO_TITLE      "DeGhoster Hakkında"
    IDS_INFO_DESC       "Masaüstü tıklamalarınızı yakalayan görünmez WebView2/Chromium hayalet pencerelerini etkisiz hale getirir."
    IDS_INFO_LICENSE    "Lisans: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Bu projeyi yararlı buluyorsanız, desteklemeyi düşünün:"
    IDS_INFO_THIRDPARTY "Üçüncü taraf bildirimleri / lisans"
    IDS_COL_WINDOW      "Pencere (Program)"
    IDS_HOOK_MISSING    "DeGhoster.Hook64.dll yüklenemedi. 64 bit uygulamalardaki hayalet pencereler düzeltilemez."
END
