// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x15, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Duch"
    IDS_GHOST_PLURAL    "Duchy"
    IDS_MENU_STATUS     "Okno stanu"
    IDS_MENU_ACTIVE     "Aktywne"
    IDS_MENU_INACTIVE   "Nieaktywne"
    IDS_MENU_NOWINDOWS  "(nie wykryto okien)"
    IDS_MENU_INFO       "Informacje…"
    IDS_MENU_QUIT       "Zakończ"
    IDS_UNTITLED        "(bez tytułu)"
    IDS_INFO_TITLE      "Informacje o DeGhoster"
    IDS_INFO_DESC       "Neutralizuje niewidoczne okna-duchy WebView2/Chromium przechwytujące kliknięcia na pulpicie."
    IDS_INFO_LICENSE    "Licencja: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Jeśli ten projekt jest przydatny, rozważ jego wsparcie:"
    IDS_INFO_THIRDPARTY "Informacje o podmiotach trzecich / licencja"
END
