// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x16, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Fantasma"
    IDS_GHOST_PLURAL    "Fantasmas"
    IDS_MENU_STATUS     "Janela de status"
    IDS_MENU_ACTIVE     "Ativo"
    IDS_MENU_INACTIVE   "Inativo"
    IDS_MENU_NOWINDOWS  "(nenhuma janela detectada)"
    IDS_MENU_INFO       "Sobre…"
    IDS_MENU_QUIT       "Sair"
    IDS_UNTITLED        "(sem título)"
    IDS_INFO_TITLE      "Sobre o DeGhoster"
    IDS_INFO_DESC       "Neutraliza janelas fantasma invisíveis do WebView2/Chromium que interceptam seus cliques na área de trabalho."
    IDS_INFO_LICENSE    "Licença: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Se este projeto for útil para você, considere apoiá-lo:"
    IDS_INFO_THIRDPARTY "Avisos de terceiros / licença"
    IDS_COL_WINDOW      "Janela (Executável)"
END
