// Copyright (c) Emmo Emminghaus mo2000 at mo2000 dot de
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
// SPDX-License-Identifier: AGPL-3.0-or-later
#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

LANGUAGE 0x18, 0x01
STRINGTABLE
BEGIN
    IDS_GHOST_SINGULAR  "Fantomă"
    IDS_GHOST_PLURAL    "Fantome"
    IDS_MENU_STATUS     "Fereastră de stare"
    IDS_MENU_ACTIVE     "Activ"
    IDS_MENU_INACTIVE   "Inactiv"
    IDS_MENU_NOWINDOWS  "(nicio fereastră detectată)"
    IDS_MENU_INFO       "Despre…"
    IDS_MENU_QUIT       "Ieșire"
    IDS_UNTITLED        "(fără titlu)"
    IDS_INFO_TITLE      "Despre DeGhoster"
    IDS_INFO_DESC       "Neutralizează ferestrele fantomă invizibile WebView2/Chromium care interceptează clicurile pe desktop."
    IDS_INFO_LICENSE    "Licență: GNU AGPL v3"
    IDS_INFO_SUPPORT    "Dacă acest proiect îți este util, ia în considerare susținerea lui:"
    IDS_INFO_THIRDPARTY "Notificări terțe / licență"
    IDS_COL_WINDOW      "Fereastră (Executabil)"
END
